@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "BlogListByBlogger";
    Layout = "~/Views/Shared/BloggerLayout.cshtml";
}

<h1>Yazarın Blogları</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Blog Başlığı</th>
        <th>Oluşturulma Tarihi</th>
        <th>Kategori</th>
        <th>Durum</th>
         <th>Sil</th>
          <th>Düzenle</th>

    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <th>@item.BlogID</th>
             <th>@item.BlogTitle</th>
              <th>@(((DateTime)item.BlogCreateDate).ToString("dd-MMM-yyyy"))</th>
               <th>@item.Category.CategoryName</th>
             <th>
                 @if (item.BlogStatus)// == true da yazılabilir
                     {
                     <span class="badge badge-success">Aktif</span>
                    }
                    else
                     {
                    <span class="badge badge-secondary">Pasif</span>
                    }
             </th>
             <th><a href="/Blog/DeleteBlog/@item.BlogID" class="btn btn-danger">Sil</a></th>
              <th><a href="#" class="btn btn-warning">Düzenle</a></th>
        </tr>
    }
</table>
<a href="#" class="btn btn-primary">Yeni Blog Oluştur</a>